* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  min-height: 100vh;
  background: #350048;
}
section::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 50px;
  background: #bd00ff;
}
.container {
  width: 900px;
  display: flex;
}
.container .card {
  position: relative;
  width: 250px;
  height: 350px;
  text-align: center;
  box-shadow: 5px 8px 20px #bd00ff;
}
.container .card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}
.percent {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.percent .number h2 {
  color: wheat;
  font-size: 40px;
}
.percent .number h2 span {
  font-size: 20px;
}
.text {
  position: absolute;
  bottom: -25px;
  transform: translateX(-50%);
  margin-left: 160px;
  color: white;
  font-size: 30px;
  transform: translateX(-50%);
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0 75px 75px rgba(255, 255, 255, 0.2);
  padding: 8px 8px 8px;
  letter-spacing: 2px;
  transition: bottom 0.5s, transform 1s, padding 1s;
}
.card:hover .text {
  transition-delay: 0s, 0.5s, 0.5s, 0s;
  bottom: -50px;
  transform: translateX(-50%) translateX(-50%);
}
.card:nth-child(1) .text {
  background: rgb(135, 235, 168);
  box-shadow: 5px 8px 20px rgb(135, 235, 168);
}
.card:nth-child(2) .text {
  background: skyblue;
  box-shadow: 5px 8px 20px skyblue;
}
.card:nth-child(3) .text {
  background: pink;
  box-shadow: 5px 8px 20px pink;
}
svg {
  position: relative;
  width: 150px;
  height: 150px;
}
svg circle {
  stroke: rgba(255, 255, 255, 0.05);
  stroke-width: 10px;
  transform: translate(5px, 5px);
  fill: none;
  stroke-linecap: round;
}
svg circle:nth-child(2) {
  stroke: violet;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
}
.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 90) / 100);
}
.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 60) / 100);
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 30) / 100);
}
